<p>got this info from <a href="https://gist.github.com/tuxfight3r/60051ac67c5f0445efee">this github page</a></p>
<p>you can edit these by creating <code>~/.inputrc</code></p>
<h2 id="moving">Moving</h2>
<table>
<thead>
<tr class="header">
<th>command</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>ctrl + a</td>
<td>Goto beginning of line</td>
</tr>
<tr class="even">
<td>ctrl + e</td>
<td>Goto end of line</td>
</tr>
<tr class="odd">
<td>ctrl + b</td>
<td>Move back 1 char</td>
</tr>
<tr class="even">
<td>ctrl + f</td>
<td>Move fwd 1 char</td>
</tr>
<tr class="odd">
<td>alt + b</td>
<td>Move back 1 word</td>
</tr>
<tr class="even">
<td>alt + f</td>
<td>Move fwd 1 word</td>
</tr>
<tr class="odd">
<td>ctrl + ], x</td>
<td>Move to next occurence of x</td>
</tr>
<tr class="even">
<td>alt + ctrl + ], x</td>
<td>Move to prev occurence of x</td>
</tr>
</tbody>
</table>
<p><em>Hint: if the keyboard does not have an alt key, instead of pressing alt, just press ESC before the desired action (and no need to hold it down, it acts as a toggle)</em></p>
